.workout-wrapper {
    padding: 4.93px 3px;
    border: 1px solid #22242626;
    border-radius: 6px;
    background: #FFFFFFCC;
    cursor: pointer;
    margin-bottom: 5px;
}

.workout-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: #726EE4;
    padding: 0 4px 4.93px;
}

.workout-name {
    font-size: 10px;
    font-weight: 700;
    line-height: 13.62px;
    text-align: left;
    text-transform: uppercase;
}

.workout__add-exercise-button {
    display: flex;
    justify-content: end;
    padding-top: 4.93px;
}

.exercise-list__sortable-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.95px;

    &[data-is-empty="true"]::after {
        display: block;
        content: "Empty Exercise";
        height: 42.78px;
        padding: 4.93px 8px;
        background: #95A6B7;
        border-radius: 3px;
        border: 1px solid #DFDFDF;
        box-shadow: 0px 0px 4px 0px #0000001A;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        opacity: 0.4;
    }
}