.training-calendar-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    overflow-y: hidden;
    overflow-x: auto;
}

.training-calendar-kanban-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100%;
    height: calc(100% - 120px);
    gap: 10px;
}